.table-containeerr {
  width: 55%;

  border-radius: 10px;
  margin-left: 80px;
}

.tableerr {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

.tableerr th {
  background-color: #000000;
  font-weight: bold;
  color: white;
  padding: 8px;
}

.tableerr thead {
  background-color: black;
}

.tableerr td {
  padding: 8px;
  text-align: left;
  color: #000000;
  border-bottom: 1px solid #020202;
}

.tableerr tr:last-child td {
  border-bottom: none;
}

.Edit-btn {
  font-size: 17px;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.Edit-btn:hover {
  background: rgb(2, 0, 36);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.Edit-btn:active {
  transform: translate(0em, 0.2em);
}

@media only screen and (max-width: 768px) {
  .table-container {
    max-width: 100%;
    padding: 40px;
  }
}

.head2 {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Axiforma;
}

html,
body {
  height: 100%;
}
.Asset {
  padding-left: 50px;
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  top: 50%;
  left: 50%;
  max-height: 600px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  margin-bottom: 70px;
  width: 250px;
  height: 150px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.titleh {
  text-align: center;
  position: relative;
  z-index: -1;
  font-family: "Lexend Deca" sans-serif;
  font-size: 36px;
}

.titleh::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #dddddd;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.Assettable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table100 {
  width: 100%;
  overflow: auto;
}

.wrap-table100 {
  width: 100%;
  display: table;
}

.table100 {
  width: 100%;
  display: table;
}

.table100-head th {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  background-color: #f2f2f2;
  padding: 15px 20px;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
  text-align: left;
  padding: 15px 20px;
}

@media screen and (max-width: 768px) {
  .table100-head th {
    font-size: 14px;
  }
  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6 {
    padding: 10px;
  }
}

.bbn {
  display: flex;
  flex-direction: row;
}

.leftalign {
  display: flex;
  justify-content: left;
  max-width: 40%;
}

.add-product {
  font-size: 17px;
  padding: 0.5em 1em;
  align-items: center;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgba(93, 68, 167, 1);
  color: white;
  border-radius: 4px;
  margin-left: -258px;
  /* width: 130px; */
  margin-top: 140px;
  height: 45px;
}

.add-product:hover {
  color: white;
  background: rgb(174, 0, 255);
}

.add-product:active {
  transform: translate(0em, 0.2em);
}

.pro1 {
  display: flex;
  flex-direction: row;
}

.pro2 {
  display: flex;
  width: 400px;
  text-align: center;
  height: 300px;

  margin-left: 0px;
  font-family: "Josefin Sans";

  background-color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-left: 95px;
  font-size: 22px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-image: url(./productbc.jpg);
}

.pro3 {
  display: flex;
  flex-direction: row;

  margin-bottom: 80px;
  width: 29%;
  height: 300px;
  margin-left: 60px;
  /* margin-top: px; */

  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  /* position: fixed; */
  /* background-image: url(./image\ \(1\).jpg); */
}
