* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    z-index: 2;
    margin-left:-10px;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
    color: black;
    padding-left: 5px;
  }
  
  .profile {
    display: none;
  }
  .nav-bar ul {
    display: flex;
  }
  
  .nav-bar ul li a {
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
  }
  
  .nav-bar ul li a:hover {
    color: rgb(229, 229, 229);
    background: rgb(8, 8, 8);
  }
  
  /* .nav-bar ul li a.active{
    color:black;
    background: white;
    } */
  
  @media only screen and (max-width: 1320px) {
    header {
      padding: 0 50px;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    header {
      padding: 0 30px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .profile {
      display: block;
      cursor: pointer;
    }
    .profile .line {
      width: 30px;
      height: 3px;
      background: rgb(0, 0, 0);
      margin: 6px 0;
    }
  
    .nav-bar {
      height: 0px;
      position: absolute;
      top: 80px;
      left: 2;
      right: 0;
      width: 100vw;
      background: black;
      transition: 0.2s;
      overflow: hidden;
     
      
    }
  
    .nav-bar.active {
      height: 450px;
    }
  
    .nav-bar ul {
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
  
    .nav-bar.active ul {
      opacity: 1;
    }
  
    .nav-bar ul li a {
      color: rgb(255, 255, 255);
      margin-bottom: 12px;
    }
    .nav-bar ul li a:hover {
      color: rgb(0, 0, 0);
      background: rgb(243, 234, 234);
    }
  }

  .userprofile{
    width: 35px;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
  }

  .userprofile:hover{
    
    width: 40px;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
  }




  .dropd {
    position: relative;
    display: inline-block;
  }
  
  .dropd-co {
    position: absolute;
    z-index: 1;
    display: none;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    margin-top: 5px;

    
  }
  
  .dropd:hover .dropd-co {
    display: block;
    background-color: white;
  }
  
  .dropd-co a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 0%;
  }
  
  .dropd-co a:hover {
    background-color: #f1f1f1;
    /* border-radius: 0%; */
  }

  
  
  

  

  

 
  